<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airavata Deployment Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"></strong>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Apache Airavata</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">heshan</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
	      <li><a href="ack">Acknowledgement</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Configuration</li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="create">Create cloud instance</a></li>
              <li><a href="configure_base">Install vanilla Airavata</a></li>
              <li><a href="configure_custom">Install custom Airavata</a></li>
	      <!--li class="nav-header">Monitoring</li-->
              <li class="nav-header">Resources</li>
              <li><a href="http://airavata.apache.org/">Apache Airavata</a></li>
              <li><a href="https://portal.futuregrid.org/">FutureGrid</a></li>
              <li><a href="http://pti.iu.edu/sgg">Science Gateway Group</a></li>
              <li><a href="http://www.indiana.edu/">Indiana University</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
          <div class="hero-unit">
		<form class="well" method="get" action="image-result">
		 <h1> Create Airavata image </h2>
		 <!--input type="text" class="span2" value="02-16-2012" id="dp1" -->
			  
		 <fieldset>
		   <legend>Select values to configure the image</legend>
		     <table>
		     <tr> <td>Infrastructure</td><td> <select name="dropdown_infrastructure">
							<option value="openstack">OpenStack</option>
							<option value="Amazon">Amazon</option>
							<option value="Eucalyptus">Eucalyptus</option>
							</select></td></tr>
		     <tr> <td>Architecture</td><td> <select name="dropdown_architecture">
							<option value="64bit">64 bit</option>
							<option value="x86">x86</option>
							</select></td></tr>
		     <tr> <td>Memory</td><td> <select name="dropdown_memory">
							<option value="512mb">512MB</option>
							<option value="1gb">1GB</option>
							<option value="2gb">2GB</option>
							<option value="4gb">4GB</option>
							<option value="8gb">8GB</option>						
							</select></td></tr>
		     <tr> <td>Operating System</td><td> <select name="dropdown_os">
							<option value="ubuntu">Ubuntu</option>
							<option value="redhat">RedHat</option>
							<option value="centos">CentOS</option>
							</select></td></tr>
		     <tr> <td>Java version</td><td> <select name="dropdown_java">
							<option value="17">Java 1.7</option>
							<option value="16">Java 1.6</option>
							<option value="15">Java 1.5</option>
							</select></td></tr>
		     <tr> <td>Tomcat version</td><td> <select name="dropdown_tomcat">
							<option value="Tomcat6">Tomcat 6</option>
							<option value="Tomcat7">Tomcat 7</option>
							</select></td></tr>
		     <tr> <td>Airavata version</td><td> <select name="dropdown_airavata">
							<option value="Airavata0.6">Airavata 0.6</option>
							<option value="Airavata0.7">Airavata 0.7</option>
							</select></td></tr>
		     </table>
		  </fieldset>
		  <p />
		  <p />

		 <!--fieldset>
		   <legend>Select Machine for the report</legend>
		   <p>		
		     <tr> 
		       <th colspan="1"> <input name="{{name }}" type="checkbox"> {{ name }} </th> 
		     </tr>		
		   </p>

		 </fieldset-->
		 <button type="submit" class="btn">Generate Image</button>
		</form>

	    </p></p>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Apache Airavata 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
